<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fp.member.mapper.MemberMapper">
	
	 <resultMap id="MemberMap" type="Member">	 	
	 	<id property="email" column="MEM_EMAIL"/>
	 	<result property="name" column="MEM_NAME"/>		
		<result property="pwd" column="MEM_PWD"/>
		<result property="class_num" column="CLASS_NUM"/>
		<result property="status" column="MEM_STATUS"/>
		<result property="rdate" column="MEM_RDATE"/>
		<result property="option1" column="OPTION1"/>
		<result property="option2" column="OPTION2"/>
		<result property="option3" column="OPTION3"/>	
		
	</resultMap>
	<select id = "idCheck" parameterType = "String" resultType = "int">
    	SELECT COUNT(*) FROM MEMBER WHERE MEM_EMAIL = #{email}
	</select>
	
	<select id="loginCheck" resultType="Member" resultMap="MemberMap">
		<![CDATA[
			SELECT * FROM member WHERE MEM_EMAIL = #{email} 
		]]>
	</select>

	<!--  시큐리티 적용해보기 
	<select id="selectMemList" resultMap="MemberMap" resultType="Member"  parameterType="String">
  		SELECT m.*, a.MEM_AUTH FROM MEMBER m LEFT OUTER JOIN MEMBER_AUTH a on m.MEM_EMAIL=a.MEM_EMAIL WHERE m.MEM_EMAIL= #{email} 
	</select>-->	
	


	<insert id="insertMem" parameterType="Member">
		insert into MEMBER(MEM_EMAIL, MEM_NAME, MEM_PWD, CLASS_NUM, MEM_RDATE) values(#{email},#{name}, #{pwd}, #{class_num} ,SYSDATE)
	</insert>

	
	<update id="update_pw"  parameterType="Member">
		UPDATE MEMBER SET MEM_PWD=#{pwd} WHERE MEM_EMAIL=#{email} 
	</update>
	<!--  
	<delete id="delete" parameterType="long">
		delete from ADDRESS where SEQ=#{seq}
	</delete>
	-->
	
</mapper>