<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fp.corporation.mapper.CorporationMapper">
	<insert id="insert" parameterType="Corporation">
		insert into CORPORATION
		(cor_code, mem_email, cor_reg, cor_name, cor_mname, cor_tel, cor_rdate, cor_postcode, cor_addr, cor_detailaddr, cor_addr_x, cor_addr_y, cor_profile, cor_type, cor_fname, cor_ofname)
		values
		(cor_code_seq.nextval, #{mem_email}, #{cor_reg}, #{cor_name}, #{cor_mname}, #{cor_tel}, sysdate, #{cor_postcode}, #{cor_addr}, #{cor_detailaddr}, #{cor_addr_x}, #{cor_addr_y}, #{cor_profile},#{cor_type}, #{cor_fname}, #{cor_ofname})
	</insert>
	<!-- 
	<update id= 'update_cor_auth' parameterType="String">
		update MEMBER set class_num = 3 where mem_email=#{mem_email}
	</update>
	 -->
	<select id='mydash_cor_select' parameterType="String" resultType="Corporation">
		select * from CORPORATION where mem_email=#{mem_email}
	</select>
	<update id='mydash_cor_update' parameterType="Corporation">
		update CORPORATION set 
		cor_reg = #{cor_reg}, cor_name=#{cor_name}, cor_addr=#{cor_addr}, cor_postcode=#{cor_postcode}, cor_detailaddr=#{cor_detailaddr}, cor_addr_x=#{cor_addr_x}, cor_addr_y=#{cor_addr_y}, cor_profile=#{cor_profile}, cor_type=#{cor_type}, cor_fname=#{cor_fname}, cor_ofname=#{cor_ofname} 
	</update>
</mapper>