<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fp.corporation.mapper.ProjectMapper">
	<resultMap type="Project" id="projectMap">
		<id property="pj_num" column ="pj_num" />
		<result property="type_num" column ="type_num" />
		<result property="cate_num" column ="cate_num" />
		<result property="cor_code" column ="cor_code" />
		<result property="pj_sub" column ="pj_sub" />
		<result property="pj_pay" column ="pj_pay" />
		<result property="pj_ddate" column ="pj_ddate" />
		<result property="pj_cont" column ="pj_cont" />
		<result property="pj_term" column ="pj_term" />
		<result property="pj_loc" column ="pj_loc" />
		<result property="pj_recnum" column ="pj_recnum" />
		<result property="pj_appnum" column ="pj_appnum" />
		<result property="pj_rdate" column ="pj_rdate" />
		<result property="pj_totalp" column ="pj_totalp" />
		<result property="pj_status" column ="pj_status" />
		<result property="pj_place" column ="pj_place" />
		<result property="pj_name" column ="pj_name" />
		<result property="pj_homepage" column ="pj_homepage" />
		<result property="pj_paycate" column ="pj_paycate" />
		<result property="pj_pcnt" column ="pj_pcnt" />
		<result property="pj_vcnt" column ="pj_vcnt" />
		<result property="pj_fgrade" column ="pj_fgrade" />
		
		<association javaType="PjPickKeyword" property="pjpickKeyword" column="pjp_keynum">
			<id property="pjp_keynum" column ="pjp_keynum" />
			<result property="pj_num" column ="pj_num" />
			<result property="key_num" column ="key_num" />
		</association>
		<association javaType="Type" property="type" column="type_num">
			<id property="type_num" column ="type_num" />
			<result property="type_name" column ="type_name" />
		</association>
		<collection ofType="Keyword" property="keyword" column="key_num" javaType="ArrayList">
			<id property="key_num" column ="key_num" />
			<id property="key_name" column ="kw_key_name" />
		</collection>
		
		<collection ofType="Project" property="pjKeywords" column="key_num" javaType="ArrayList">
			<id property="key_num" column ="key_num" />
			<id property="key_name" column ="key_num" />
		</collection>
	</resultMap>
	
	
	<resultMap type="Corporation" id="corporationMap">
		<id property ="cor_code" column="cor_code"/>
		<result property ="mem_email" column="mem_email"/>
		<result property ="cor_reg" column="cor_reg"/>
		<result property ="cor_mname" column="cor_mname"/>
		<result property ="cor_tel" column="cor_tel"/>
		<result property ="cor_rdate" column="cor_rdate"/>
		<result property ="cor_point" column="cor_point"/>
		<result property ="cor_level" column="cor_level"/>
		<result property ="cor_addr" column="cor_addr"/>
		<result property ="cor_profile" column="cor_profile"/>
		<result property ="cor_type" column="cor_type"/>
		<result property ="cor_fname" column="cor_fname"/>
		<result property ="cor_ofname" column="cor_ofname"/>
		
		<collection ofType="Project" property="project" column="pj_num" javaType="ArrayList">
			<id property="pj_num" column ="pj_num" />
		</collection>
		
	</resultMap>
	
	<select id="list" parameterType="ProjectVo" resultType="project"> 
		 <![CDATA[
			select * from (select ROWNUM rnum , aa.* from 
			(select * from PROJECT order by PJ_NUM desc)aa) where rnum>#{start} and rnum<=#{end}
	    ]]>
	</select>
	
	<select id="pjKeywords" resultMap="projectMap">
		<![CDATA[
			SELECT pj.PJ_NUM, kw.KEY_NAME as kw_key_name
   			FROM KEYWORD kw
  			LEFT OUTER JOIN PJ_PICK_KEYWORD pjpkw ON pjpkw.KEY_NUM = kw.KEY_NUM
   			RIGHT OUTER JOIN PROJECT pj ON pj.PJ_NUM = pjpkw.PJ_NUM
		]]>
	</select>
	
	<select id="content" parameterType="long" resultMap="projectMap"> 
	 	<![CDATA[
		  SELECT pj.*, kw.KEY_NAME as kw_key_name , t.TYPE_NAME
		   FROM PROJECT pj
		   INNER JOIN TYPE t ON t.TYPE_NUM = pj.TYPE_NUM  
		   LEFT OUTER JOIN PJ_PICK_KEYWORD pjpkw ON pjpkw.PJ_NUM = pj.PJ_NUM
		   LEFT OUTER JOIN KEYWORD kw ON kw.KEY_NUM = pjpkw.KEY_NUM
		   WHERE pj.PJ_NUM=#{pj_num}
		  ]]>
	</select>
	
	<select id="getTotalCount" resultType="long" >
		select count(PJ_NUM) from PROJECT
	</select>
	
	<!-- 
	<insert id="insert" parameterType="Project" >
		insert into PROJECT
		(PJ_NUM, TYPE_NUM, CATE_NUM, COR_NUM, PJ_SUB, PJ_DDATE, PJ_PAY, PJ_CONT, PJ_TERM, PJ_LOC, PJ_RECNUM, PJ_APPNUM, PJ_TOTALP, PJ_STATUS, PJ_PLACE, PJ_NAME, PJ_HOMEPAGE, PJ_PAYCATE, PJ_PCNT, PJ_VCNT, OPTION1, OPTION2, OPTION3)
		 values(pj_num.nextval, #{type_num}, #{cate_num},#{subject},#{content},sysdate)		
	</insert>
	 -->

	<delete id="deletePj" parameterType="long">
		delete from PROJECT where PJ_NUM=#{pj_num}
	</delete>
	<delete id="deleteKeyword" parameterType="long">
	 	delete from PJ_PICK_KEYWORD where PJ_NUM=#{pj_num}
	 </delete>
	<!-- 
	<update id="update" parameterType="Board" >
		update BOARD set email=#{email}, subject=#{subject}, content=#{content} where seq=#{seq}
	</update>
	-->
	
	<!-- 기업정보 뽑기 -->
	<select id="corInfo" parameterType="long" resultMap="corporationMap">
		select * from CORPORATION cor join PROJECT pj on cor.COR_CODE=pj.COR_CODE where PJ_NUM=#{pj_num}
	</select>
</mapper>
