<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="fp.freelancerlist.mapper.FreeLancerlistMapper">

	   <resultMap type="List_FreeLancer" id="List_FreeLancerResult">
		  <id column="free_code" property="free_code"/>
		    <result column="mem_email" property="mem_email"/>		
			  <result column="free_name" property="free_name"/>

		<association  property="list_type" javaType="List_type" >
		  <id property="type_num" column="type_num"/>
		 	 <result property="type_name" column="type_name"/>
		</association>	 

			<collection property="list_freelancerprofile" javaType="java.util.ArrayList" ofType="list_freelancerprofile">	
			<id property="free_code" column="free_code"/>
			  <result property="pro_num" column="pro_num"/>
			  <result property="type_num" column="type_num"/>
			  <result column="mem_email" property="mem_email"/>	
			    <result property="pro_exp" column="pro_exp"/>
			    <result property="pro_vcnt" column="pro_vcnt"/>
		</collection>	 

	  	<collection property="list_project" javaType="java.util.ArrayList" ofType="List_Project" >
			<id property="pj_num" column="pj_num"/>
			  <result property="type_num" column="type_num"/>
			  <result property="cate_num" column="cate_num"/>
			  <result property="cor_code" column="cor_code"/>
			    <result property="pj_sub" column="pj_sub"/>
			    <result property="pj_ddate" column="pj_ddate"/>
			    <result property="pj_place" column="pj_place"/>
			    <result property="pj_name" column="pj_name"/>	
			</collection>	
			
		<collection property="list_review" javaType="java.util.ArrayList" ofType="List_FreeLancerReview">	
			<id property="free_code" column="free_code"/>
			    <result property="pro_num" column="pro_num"/>
	 		    <result column="mem_email" property="mem_email"/>	
			      <result property="freerev_star" column="freerev_star"/>
		</collection>
		
		</resultMap>


   <!-- 리스트 페이징 (총 게시글 갯수 출력 ) -->
    <select id="countFreeLancer" resultType="int">
   		select count(*) from FreeLancer_Profile
    </select>
	<!-- 리스트 select -->
	<select id="SelectList" resultMap="List_FreeLancerResult" parameterType="List_PagingVO">
	    <![CDATA[
		select f.rnum, f.FREE_NAME 
			    , f.PRO_EXP 
			    , f.PRO_VCNT 
			    , f.FREEREV_STAR 
			    , f.TYPE_NAME 
			    , f.PJ_SUB  from
					(select rownum rnum, free.FREE_NAME
							  , free.PRO_EXP 
							  , free.PRO_VCNT
							  , free.FREEREV_STAR 
							  , TYPE_NAME 
							  , PJ_SUB 
								from
						(select FREE_NAME 
      							  , PRO_EXP 
    							    , PRO_VCNT 
    							    , FREEREV_STAR 
    							    , TYPE_NAME 
   							     , PJ_SUB 
								from FREELANCER f 
								inner join FREELANCER_PROFILE fp
									on f.FREE_CODE = fp.FREE_CODE
									inner join FREELANCER_REVIEW fr
										on f.FREE_CODE= fr.FREE_CODE
										inner join TYPE t
											on fp.TYPE_NUM= t.TYPE_NUM
											inner join PROJECT p
											on t.TYPE_NUM=p.TYPE_NUM) free
										where rownum <= #{end}) f
										 where f.rnum>= #{start}
		]]>
	</select>


</mapper>
