<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fp.customer_service.mapper.ReplyMapper">
	
	<!-- 댓글 입력 -->
	<insert id="insert">
		insert into qa_comment (qacomm_num, qa_num, mem_email, qacomm_cont, qacomm_prnum, qacomm_lev, qacomm_sun, qacomm_rdate, qacomm_ox, option1, option2, option3) values(QACOMM_NUM_SEQ.nextval, #{qa_num}, #{mem_email}, #{qacomm_cont}, 0, 0, 0, SYSDATE, 0, 0, 0, null)
	</insert>
	
	<!-- 댓글 수정 하기 전에 띄우는 모달창에 정보를 불러오기 위함 / 댓글 수정 버튼을 누르면 이걸 이용해서 우선 모달창 띄우기-->
	<select id="read" resultType="ReplyVO">
		select * from qa_comment where qacomm_num=#{qacomm_num}
	</select>
	
	<update id="update">
		update qa_comment set qacomm_cont=#{qacomm_cont}, qacomm_rdate=SYSDATE, qacomm_ox=#{qacomm_ox} where qacomm_num=#{qacomm_num}
	</update>
	
	<delete id="delete">
		delete from qa_comment where qacomm_num=#{qacomm_num}
	</delete>
	
	<!-- 글 상세보기 들어갈 때 댓글 목록을 불러오기 위함 -->
	<select id="getListWithPaging" resultType="ReplyVO">
		select * from qa_comment where qa_num=#{qa_num} order by qacomm_num asc
	</select>

</mapper>