<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="fp.freelancerprofile.mapper.FreeLancerProfileMapper">

      <resultMap type="Freelancer" id="FreeLancerResult">
    
         <id column="free_code" property="free_code"/>
         <result column="mem_email" property="mem_email"/>
         <result column="free_name" property="free_name"/>
         <result column="free_tel" property="free_tel"/>
         <result column="free_point" property="free_point"/>
         <result column="free_rdate" property="free_rdate"/>
         <result column="free_level" property="free_level"/>
         <result column="free_acctox" property="free_acctox"/>
         <result column="free_fname" property="free_fname"/>
         <result column="free_ofname" property="free_ofname"/>
         
      <association  property="type" javaType="frType">
      <id property="type_num" column="type_num"/>
        <result property="type_name" column="type_name"/>
      </association>   
     
      <collection property="freelancerprofile" javaType="java.util.ArrayList" ofType="FreelancerProfile">   
         <id property="free_code" column="free_code"/>
        <result property="pro_num" column="pro_num"/>
        <result property="type_num" column="type_num"/>
        <result property="pro_exp" column="pro_exp"/>
        <result property="pro_cv" column="pro_cv"/>
        <result property="pro_addr" column="pro_addr"/>
        <result property="pro_edu" column="pro_edu"/>
        <result property="pro_start" column="pro_start"/>
        <result property="pro_ox" column="pro_ox"/>
        <result property="pro_grade" column="pro_grade"/>
        <result property="profile_vcnt" column="profile_vcnt"/>
        <result property="profile_pcnt" column="profile_pcnt"/>
        <result property="pro_workplace" column="pro_workplace"/>
       <result property="profile_sub" column="profile_sub"/>
        <result property="profile_date" column="profile_date"/>
      </collection>       
      
      <collection property="freeLancerProfileFile" javaType="java.util.ArrayList" ofType="FreeLancerProfilefile" >
      <id property="free_code" column="free_code"/>
        <id property="profile_num" column="profile_num"/>
        <result property="pro_num" column="pro_num"/>
        <result property="profile_fname" column="profile_fname"/>
        <result property="profile_ofname" column="profile_ofname"/>
        <result property="profile_size" column="profile_size"/>
        <result property="profile_ext" column="profile_ext"/>
      </collection>   

      <collection property="keyword" javaType="java.util.ArrayList" ofType="frKeyWord" >
      <id property="key_num" column="key_num"/>
        <result property="key_name" column="key_name"/>
      </collection>  
      
         <collection property="applied_project" javaType="java.util.ArrayList" ofType="Applied_Project" >
		   <id property="free_code" column="fr_free_code"/>
		   <result property="pro_num" column="fr_pro_num"/>
		   <result property="pj_num" column="fr_pj_num"/>
		   <result property="appp_status" column="appp_status"/>
		   <result property="appp_date" column="appp_date"/>
      </collection>  
      </resultMap>
      

        <resultMap type="frtype" id="find_pro_sub">
           <id property="type_num" column="type_num"/>
         <result property="type_name" column="type_name"/>
         
         <collection property="freelancerprofile" javaType="java.util.ArrayList" ofType="freelancerprofile" > 
            <id property="free_code" column="free_code"/>
           <result property="pro_num" column="pro_num"/>
           <result property="type_num" column="type_num"/>
           <result property="pro_exp" column="pro_exp"/>
           <result property="pro_cv" column="pro_cv"/>
           <result property="pro_addr" column="pro_addr"/>
           <result property="pro_edu" column="pro_edu"/>
           <result property="pro_start" column="pro_start"/>
           <result property="pro_ox" column="pro_ox"/>
           <result property="pro_grade" column="pro_grade"/>
           <result property="profile_vcnt" column="profile_vcnt"/>
           <result property="profile_pcnt" column="profile_pcnt"/>
           <result property="pro_workplace" column="pro_workplace"/>
          <result property="profile_sub" column="profile_sub"/>
           <result property="profile_date" column="profile_date"/>
           </collection>      
         
           <collection property="project" javaType="java.util.ArrayList" ofType="frProject" >
         <id property="pj_num" column="pj_num"/>
           <result property="type_num" column="type_num"/>
           <result property="cate_num" column="cate_num"/>
           <result property="cor_code" column="cor_code"/>
            <result property="pj_sub" column="pj_sub"/>
           <result property="pj_ddate" column="pj_ddate"/>
           <result property="pj_place" column="pj_place"/>
           <result property="pj_name" column="pj_name"/>   
            <result property="pj_rdate" column="pj_rdate"/>   
         </collection>   
         
          <collection property="applied_project" javaType="java.util.ArrayList" ofType="Applied_Project" >
		      <id property="free_code" column="fr_free_code"/>
		        <result property="pro_num" column="fr_pro_num"/>
		        <result property="pj_num" column="fr_pj_num"/>
		        <result property="appp_status" column="appp_status"/>
		        <result property="appp_date" column="appp_date"/>
      	</collection>  
      </resultMap>
      
        <resultMap type="freelancerprofile" id="free_profile">
           <id property="pro_num" column="pro_num"/>
           <id property="free_code" column="free_code"/>
           <result property="type_num" column="type_num"/>
           <result property="mem_email" column="mem_email"/>
           <result property="pro_exp" column="pro_exp"/>
           <result property="pro_cv" column="pro_cv"/>
           <result property="pro_addr" column="pro_addr"/>
           <result property="pro_postcode" column="pro_postcode"/>
           <result property="pro_detailloc" column="pro_detailloc"/>
           <result property="pro_edu" column="pro_edu"/>
           <result property="pro_start" column="pro_start"/>
           <result property="pro_ox" column="pro_ox"/>
           <result property="pro_grade" column="pro_grade"/>
           <result property="pro_vcnt" column="pro_vcnt"/>
           <result property="pro_pcnt" column="pro_pcnt"/>
           <result property="pro_place" column="pro_place"/>
           <result property="profile_vcnt" column="profile_vcnt"/>
           <result property="profile_pcnt" column="profile_pcnt"/>
           <result property="pro_workplace" column="pro_workplace"/>
          <result property="profile_sub" column="profile_sub"/>
           <result property="profile_date" column="profile_date"/>
      
         <association  property="type" javaType="frType">
      		<id property="type_num" column="type_num"/>
       		 <result property="type_name" column="type_name"/>
      	</association>   

      <collection property="freeLancerProfileFile" javaType="java.util.ArrayList" ofType="FreeLancerProfilefile" >
	      <id property="free_code" column="free_code"/>
	        <id property="profile_num" column="profile_num"/>
	        <result property="pro_num" column="pro_num"/>
	        <result property="profile_fname" column="profile_fname"/>
	        <result property="profile_ofname" column="profile_ofname"/>
	        <result property="profile_size" column="profile_size"/>
	        <result property="profile_ext" column="profile_ext"/>
      </collection>   
             
       <collection property="applied_project" javaType="java.util.ArrayList" ofType="Applied_Project" >
		   <id property="free_code" column="fr_free_code"/>
		   <result property="pro_num" column="fr_pro_num"/>
		   <result property="pj_num" column="fr_pj_num"/>
		   <result property="appp_status" column="appp_status"/>
		   <result property="appp_date" column="appp_date"/>
       </collection> 

       <collection property="keyword" javaType="java.util.ArrayList" ofType="frKeyWord" >
      		<id property="key_num" column="key_num"/>
        	<result property="key_name" column="key_name"/>
       </collection>
        
       <collection property="freePickKeyWord" javaType="java.util.ArrayList" ofType="freePickKeyWord" >
        	<id property="free_keynum" column="free_keynum"/>
	      	<result property="key_num" column="pick_key_num"/>
	        <result property="free_code" column="pick_free_code"/>
       		<result property="pro_num" column="pick_pro_num"/>
       </collection>  

      </resultMap>

   <!-- 리스트 페이징 (총 게시글 갯수 출력 ) -->
    <select id="countProfileList" resultType="long">
   		 select count(profile_sub) from freelancer_profile where free_code=#{free_code}
    </select>
  
  
	<select id='profile_free_select' parameterType="String" resultMap="free_profile">
		select * from FREELANCER_PROFILE where mem_email=#{mem_email}
	</select>
  
   <!-- 리스트 페이징 (페이징 처리 후 게시글 조회 ) -->
   <select id="selectPageList" parameterType="map" resultType="freelancerprofile">
	  <![CDATA[
		select * from 
			(select ROWNUM rnum , aa.* from 
				(select PROFILE_SUB, PROFILE_DATE, FREE_CODE, PRO_NUM from FREELANCER_PROFILE
					 where FREE_CODE=#{free_code} order by PROFILE_DATE desc)aa) 
						where rnum>=#{PagingVo.start} and rnum<=#{PagingVo.end}
	  ]]> 
   </select>
   
    <select id="selectFilename" parameterType="long" resultType="FreeLancerProfilefile">
     <![CDATA[
    select profile_num, profile_ofname, pro_num, free_code from freelancer_profilefile
    	]]>
   </select>
   
     <!-- 프리랜서 프로필 컨텐츠 1-->
     <select id="selectProfileContent"  parameterType="long" resultMap="FreeLancerResult">
      <![CDATA[
		select fp.pro_num
				 , free_name
		         , fp.mem_email
		         , pro_workplace
		         , free_tel
		         , pro_cv
		         , profile_date
			from FREELANCER_PROFILE fp
				inner join FREELANCER f 
					on fp.free_code = f.free_code
							where fp.pro_num=#{pro_num}
       ]]>
   </select>
   
   <!-- 프리랜서 프로필 컨텐츠 2-->
    <select id="selectProfileContent2"  parameterType="long" resultMap="find_pro_sub">
     <![CDATA[
		select p.pj_sub
			   , t.type_name
			   , fp.pro_num
			from Type t
				full outer join FREELANCER_PROFILE fp
				on t.type_num = fp.type_num 
					full outer join PROJECT p
					on t.type_num = p.type_num
					where fp.pro_num=#{pro_num}
      ]]>
   </select>
   
    <!-- 프리랜서 프로필 컨텐츠 3-->
     <select id="selectProfileContent3"  parameterType="long" resultMap="FreeLancerResult">
       <![CDATA[
		select k.key_name from FREE_PICK_KEYWORD fk
			full outer join FREELANCER_PROFILE fp
			on fk.pro_num = fp.pro_num 
				full outer join KEYWORD k
				on fk.key_num = k.key_num
				where fp.pro_num=#{pro_num}
      ]]> 
   </select>
   
       <!-- 프리랜서 프로필 컨텐츠 4-->
   <select id="selectProfileContent4"  parameterType="long" resultMap="find_pro_sub">
        <![CDATA[
		 select free_code
		 		, appp_status
		 		, p.pj_num
		 		, p.pj_sub 
		 		, p.pj_rdate
		 		, free_code
			from applied_project ap
				inner join project p 
				on ap.pj_num=p.pj_num
					where free_code=#{free_code}
					and appp_status=1
     	]]>
   </select>
   

	<!-- 삭제1 (프로필파일 데이터 삭제) -->
   <delete id="listDelete" parameterType="long">
	   <![CDATA[
		 	delete from FREELANCER_PROFILEFILE where PRO_NUM=#{PRO_NUM}
	   ]]>
	</delete>
	
	<!-- 삭제2 (프로필파일 데이터 삭제) -->
	<delete id="listDelete2" parameterType="long">
		<![CDATA[
		 	delete from FREELANCER_PROFILE where PRO_NUM=#{PRO_NUM}
	   ]]>
	</delete>
	
	
	<!-- 삭제1 (체크박스 데이터 삭제) -->
   <delete id="checkdelete1" parameterType="long">
	   <![CDATA[
		 	delete from FREELANCER_PROFILE  where PRO_NUM in(#{PRO_NUM})
	   ]]>
	</delete>

	
	<!-- 프로필 insert -->
 	<insert id="listInsert" parameterType="fp.freelancerprofile.domain.FreeLancerProfile"> 
  	<selectKey keyProperty="pro_num" order="BEFORE" resultType="long">
		select PRO_NUM_SEQ.NEXTVAL from dual
	 </selectKey>

	<![CDATA[
		insert into freelancer_profile (pro_num, free_code, type_num, mem_email, pro_exp, pro_cv, pro_addr, pro_postcode, pro_detailloc, pro_edu, pro_start, pro_ox, pro_grade, pro_place, pro_workplace, profile_sub, profile_date)
	values
		(#{pro_num}, #{free_code}, #{type_num}, #{mem_email} , #{pro_exp}, #{pro_cv}, #{pro_addr}, #{pro_postcode}, #{pro_detailloc},#{pro_edu}, #{pro_start}, #{pro_ox}, #{pro_grade}, #{pro_place}, #{pro_workplace}, #{profile_sub}, sysdate)
		   ]]>
	</insert> 

	<!-- 프로필 선택 키워드 insert -->
	 <insert id="insertPjpkeyword" parameterType="map">
		 <selectKey keyProperty="pro_num" order="BEFORE" resultType="long">
			 select PRO_NUM_SEQ.CURRVAL from dual
		 </selectKey>
		 
		 <if test="key_num != null">
		 	insert into FREE_PICK_KEYWORD(free_keynum, key_num, free_code, pro_num)
		 	select  free_keynum_seq.nextval, A.* from(
		  <foreach collection ="key_num" item="key_num" separator="UNION ALL "> 
			 select  #{key_num}, #{free_code}, #{pro_num} from dual
		 </foreach>) A
		 </if>
	 </insert>

	<!-- 프로필 update -->
 	<update id="listUpdate" parameterType="fp.freelancerprofile.domain.FreeLancerProfile"> 

		<![CDATA[
		update freelancer_profile set
			 mem_email=#{mem_email}, pro_exp=#{pro_exp}, pro_cv=#{pro_cv}
			, pro_addr=#{pro_addr}, pro_postcode=#{pro_postcode}, pro_detailloc=#{pro_detailloc}
			, pro_edu=#{pro_edu}, pro_start=#{pro_start}, pro_ox=#{pro_ox}, pro_grade=#{pro_grade}
			, pro_place=#{pro_place}, pro_workplace=#{pro_workplace}, profile_sub=#{profile_sub}, profile_date=sysdate
				 where pro_num=#{pro_num}
		  ]]>
	</update> 
		<!-- 프로필 update(직종) -->
	<update id="typeUpdate" parameterType="fp.freelancerprofile.domain.FreeLancerProfile"> 
		<![CDATA[
		update freelancer_profile set type_num=#{type_num}
		  ]]>
	</update> 
		<!-- 프로필 update(키워드 insert) -->

	<insert id="keyUpdate" parameterType="map">	
		<selectKey keyProperty="free_keynum" order="BEFORE" resultType="long">
			 select FREE_KEYNUM_SEQ.NEXTVAL from dual
		 </selectKey>
	 
		 <if test="key_num != null">
		 	insert into FREE_PICK_KEYWORD(free_keynum, key_num, free_code, pro_num)
		 	select  free_keynum_seq.nextval, A.* from(
		  <foreach collection ="key_num" item="key_num" separator="UNION ALL "> 
			 select  #{key_num}, #{free_code}, #{pro_num} from dual
		 </foreach>) A
		 </if>
	</insert> 
 	 <!-- 프로필 update(키워드 delete) -->
   <delete id="keyDelete" parameterType="long">
	   <![CDATA[
		 	delete from free_pick_keyword where pro_num=#{pro_num}
	   ]]>
	</delete>
	
	    <!-- insert했던 데이터 뽑기-->
   <select id="showContent"  parameterType="long" resultMap="free_profile">

       <![CDATA[
       select fp.*
				, t.* 
				, fpk.*
				, k.KEY_NAME 
				, k.KEY_NUM 
					from freelancer_profile fp
					inner join TYPE t 
					ON t.TYPE_NUM = fp.TYPE_NUM  
			  			inner join
						FREE_PICK_KEYWORD fpk 
						ON fpk.PRO_NUM = fp.PRO_NUM
							inner join KEYWORD k 
							ON k.KEY_NUM = fpk.KEY_NUM
							WHERE fp.pro_num=#{pro_num}   
      ]]> 
    
   </select>
	
	
	
	

	<!-- 나영 추가 / mydash_free -->
	<select id="mydash_free_select" parameterType="String" resultType="fp.freelancerprofile.domain.FreeLancer">
		select * from FREELANCER where mem_email=#{mem_email}
	</select>
	<insert id="mydash_free_insert" parameterType="fp.freelancerprofile.domain.FreeLancer">
		insert into FREELANCER(free_code, mem_email, free_name, free_tel, free_fname, free_ofname)
		 values(FREE_CODE_SEQ.nextval, #{mem_email}, #{free_name}, #{free_tel}, #{free_fname, jdbcType=VARCHAR}, #{free_ofname, jdbcType=VARCHAR})
	</insert>
	<update id="mydash_free_update" parameterType="fp.freelancerprofile.domain.FreeLancer">
		update FREELANCER set free_tel=#{free_tel}, free_fname=#{free_fname, jdbcType=VARCHAR}, free_ofname=#{free_ofname, jdbcType=VARCHAR} where free_code=#{free_code}
	</update>
	<update id="mydash_update_classnum" parameterType="String">
		update MEMBER set class_num =3 where mem_email=#{mem_email}
	</update>
	<!--/////////////////////////// -->
</mapper>
